 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';
@import '../../bower_components/bitters/app/assets/stylesheets/base';

// Custom Styles

body {
  margin: 0;
  // background: url("/images/img1.jpeg");
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}

a {
  text-decoration: none;
  color: #333;
}

hr {
  width: 30%;
  margin-top: 0;
  margin-left: 50px; 
}

header {
  @include fill-parent;
  // background: #8AB8E5;
  padding: 20px 0;
  border-bottom: 3px solid #3D6C99;

  span {
   margin-left: 40px;
  }

  h1 {
    display: inline;
    margin-left: 400px;
    vertical-align: middle; 
  }

  button {
    float: right;
    margin-top: 10px;
    margin-right: 40px;
  }

}

.main {
  @include fill-parent;
  height: 100%;

  .side-bar {
    @include span-columns(2);
    // background: #E5C38A;
    height: 100vh;
    border-right: 3px solid #3D6C99;
    
    .cool {
      height: 80px;
    }

    .cool:hover {
      background: #8AB8E5;
    }

    li {
      padding-top: 30px;
      padding-left: 30px;
    }

  }

  .recipes {
    @include span-columns(10);
    // background: green;
    // height: 200px;
    height: 100vh;
    overflow: scroll;


    .rec-container {
      @include span-columns(2);
      margin-top: 20px;
      margin-bottom: 50px;
      height: 150px;
      background: #999;
    }

  }

}

.view-all {
  float: right;
  margin-right: 200px;
}

.yes {
  margin-top: 30px;
  clear: both;
}

.yup {
  margin-left: 100px;
}


////////// Create

.create {
  @include span-columns(9);
  @include shift(1);
  // background: blue;
  // height: 100px;
  padding-top: 20px;
  padding-left: 150px;

  .create-img {
    @include span-columns(3);
    background: #bfbfbf;
    height: 150px;
  }

  .inp {
    @include span-columns(9);

    .create-inp {
      @include span-columns(9);
      padding: 16px;
    }

    .checkboxes {
      @include span-columns(9);

      .create-check {
        margin-right: 20px;
        display: inline;
        font-weight: normal;
      }

    }

  }

  .yield {
    @include span-columns(12);
    margin-top: 20px;
    // height: 100px;
    // background: blue;  

    span {
      float: left;
      margin-right: 10px;
    }

    input{
      @include span-columns(2);  
    }

    .scones {
      @include span-columns(6);
    }

  }

}












